<div class="top-bar">
  <center><br>
      <b style="color: green; font-size:32px">Lebensmittel GmbH</b>

    <div class="top-bar-right" style="font-size:18px; color: red;">
      <% if current_user %>
          <%= current_user.name.capitalize %>
          <%= link_to ' | LogOut', session_path, method: :delete %>
        <% else %>
          <%= link_to 'Registrieren |', signup_path %>
          <%= link_to 'Einloggen', new_session_path %>
        <% end %>
    </div>
<br>

<br>

    <ul class="dropdown menu" data-dropdown-menu="x09k9p-dropdown-menu" role="menubar" style="font-size:18px; font-weight: bold">

    <li><%= link_to 'Startseite', root_path %></li>

    <% if current_user_admin? %><li><%= link_to 'Users', users_path %></li><% end %>

    <li role="menuitem" class="is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-label="Lebensmittel" data-is-click="false" aria-expended="false">
    <%= link_to 'Lebensmittel', foods_path %>
    <ul class="menu submenu is-dropdown-submenu first-sub vertical" data-submenu="" role="menu" aria-hidden="true" style="">
      <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><%= link_to 'Lebensmittel-Tabelle', foods_path %></li>
      <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><%= link_to 'Lebensmittel hinzufügen', new_food_path %></li>
      </ul>
    </li>

    <li role="menuitem" class="is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-label="Sport" data-is-click="false" aria-expended="false">
    <%= link_to 'Sport', sports_path %>
    <ul class="menu submenu is-dropdown-submenu first-sub vertical" data-submenu="" role="menu" aria-hidden="true" style="">
      <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><%= link_to 'Sportübungen', sports_path %></li>
      <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><%= link_to 'Sportübung hinzufügen', new_sport_path %></li>
      </ul>
    </li>

    <li role="menuitem" class="is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-label="body" data-is-click="false" aria-expended="false">
    <a href="#">Eigener Körper</a>
    <ul class="menu submenu is-dropdown-submenu first-sub vertical" data-submenu="" role="menu" aria-hidden="true" style="">
      <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><%= link_to 'Gewicht', bodies_path %></li>
      <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><%= link_to 'Erfolge', successes_path %></li>
      </ul>
    </li>

    <li role="menuitem" class="is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-label="diaeten" data-is-click="false" aria-expended="false">
    <a href="#">Verschiedene Diäten</a>
    <ul class="menu submenu is-dropdown-submenu first-sub vertical" data-submenu="" role="menu" aria-hidden="true" style="">
      <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><%= link_to 'Diät 1', diet1_path %></li>
      <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><%= link_to 'Diät 2', diet2_path %></li>
      <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><%= link_to 'Diät 3', diet3_path %></li>
      </ul>
    </li>

    <li><%= link_to 'Bedarfs-Rechner', foods_path %></li>

    </ul>
</div>
