<center><h1><u>Profil von <span style="color:red"><%= current_user.name.capitalize %></span></u></h1></center><br>

<ul class="tabs" data-tabs id="example-tabs">
  <li class="tabs-title is-active"><a href="#panel1" aria-selected="true"><h5><b style="color:black">Profil-Übersicht</b></h5></a></li>
  <li class="tabs-title"><a href="#panel2"><h5><b style="color:black">Lebensmittel-Tagebuch</b></h5></a></li>
  <li class="tabs-title"><a href="#panel3"><h5><b style="color:black">Sport-Tagebuch</b></h5></a></li>
  <li class="tabs-title"><a href="#panel4"><h5><b style="color:black">Erfolge</b></h5></a></li>
</ul>
<div class="tabs-content" data-tabs-content="example-tabs">
  <div class="tabs-panel is-active" id="panel1">

<%= render 'useredit' %>

  </div>

  <div class="tabs-panel" id="panel2">

<%= render 'food' %>

</div>

  <div class="tabs-panel" id="panel3">
    
<%= render 'sport' %>

</div>

  <div class="tabs-panel" id="panel4">

<%= render 'success' %>

  </div>
