<center>
<h1>Lebensmittel-Tabelle</h1>

<h5><%= link_to 'Lebensmittel hinzufügen', new_lebensmittel_path, :class => "primary button" %></h5><br>

<table border='1' width='63%'>
  <thead>
    <tr align="center">
      <th width="7%"><b style="font-size:17px">Name</b></th>
      <th width="7%"><b style="font-size:17px">Menge</b></th>
      <th width="7%"><b style="font-size:17px">Einheit</b></th>
      <th width="7%"><b style="font-size:17px">Eiweiß</b></th>
      <th width="7%"><b style="font-size:17px">Fett</b></th>
      <th width="7%"><b style="font-size:17px">Kohlenhydrate</b</th>
      <th width="7%"><b style="font-size:17px">Kalorien</b></th>
      <th width="21%" colspan="3"><center style="font-size:17px">Optionen</center></th>
    </tr>
  </thead>

  <tbody>
    <% @lebensmittels.each do |lebensmittel| %>
      <tr align="center">
        <td><b style="font-size:14px"><%= lebensmittel.name %></b></td>
        <td><b style="font-size:14px"><%= lebensmittel.menge %></b></td>
        <td><b style="font-size:14px"><%= lebensmittel.einheit %></b></td>
        <td><b style="font-size:14px"><%= lebensmittel.eiweiß %></b></td>
        <td><b style="font-size:14px"><%= lebensmittel.fett %></b></td>
        <td><b style="font-size:14px"><%= lebensmittel.kohlenhydrate %></b></td>
        <td><b style="font-size:14px"><%= lebensmittel.kalorien %></b></td>
        <td><%= link_to 'Zum Tagebuch', lebensmittel_tagebuches_path(lebensmittel), :class => "button secondary" %></td>
        <td><%= link_to 'Bearbeiten', edit_lebensmittel_path(lebensmittel), :class => "button success" %></td>
        <td><%= link_to 'Löschen', lebensmittel, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button alert" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</center>