<%= form_for([@sport, @sportdiary]) do |f| %>
  <% if sportdiary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sportdiary.errors.count, "error") %> prohibited this sportdiary from being saved:</h2>

      <ul>
      <% sportdiary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :datum %>
    <%= f.date_select :datum %>
  </div>

  <div class="field">
    <%= f.label :anzahl, 'Anzahl / Dauer (pro Minute)' %>
    <%= f.number_field :anzahl %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
