<h1><%= pluralize(@events.count, "Event", plural: "Events") %></h1>

<table border="1">
	<tr>
			<th>Name</th>
			<th>Beschreibung</th>
			<th>Ort</th>
			<th>Preis</th>
			<th>Beginn</th>
		<% if current_user %>
			<th>Registrierungen</th>
			<th>Show</th>
		<% if current_user_admin? %>
			<th>Edit</th>
			<th>Delete</th>
		<% end %>
		<% end %>
	</tr>

	<% @events.each do |event| %>
		<tr>
			<td><%= event.name %></td>
			<td><%= truncate(event.description, length: 20) %></td>
			<td><%= event.location %></td>
			<td><%= format_price(event) %></td>
			<td><%= event.start_date %></td>
			<% if current_user %>	
				<td><%= link_to "Registration", event_registrations_path(event.id), class: 'primary button' %></td> 
				<td><%= link_to "Show", event_path(event.id), class: 'success button' %></td>
			<% if current_user_admin? %>
				<td><%= link_to "Edit", edit_event_path(event.id), class: 'secondary button' %></td> 
				<td><%= link_to "Delete", event_path(event.id), class: 'alert button', method: :delete, data: { confirm: 'Wirklich löschen?' } %></td> 
			<% end %>
			<% end %>
		</tr>
	<% end %>
</table>

<p><%= link_to "Neuen Datensatz", new_event_path if current_user_admin? %></p> 