<%= form_for(success) do |f| %>
  <% if success.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(success.errors.count, "error") %> prohibited this success from being saved:</h2>

      <ul>
      <% success.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body_id %>
    <%= f.text_field :body_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
