 <center>

 <div class="search" style="width:30%"><%= form_tag(foods_path, :method => "get", id:"search-form") do %>
 <%= text_field_tag :search, params[:search], placeholder: "Lebensmittel eingeben" %>
 <%= submit_tag "Suchen", :name => nil, class: 'primary button' %>
 <br><br><% if @foods.blank? %>
 <h4 class="bg-danger"><%= params[:search] %> ist nicht in der Tabelle vorhanden</h4>
 <h5 style="color:red">Wenn trotzdem gewünscht, <%= params[:search] %> selber hinzufügen.</h5>
 <% end %>
 <% end %> 
</div></center>

  <div class="right2">
  <%= image_tag("food.jpg", size: "500") %>
  </div>

<div style="width:65%; height: 728px;">
<h1>Lebensmittel</h1><%= link_to 'Lebensmittel hinzufügen', new_food_path, class: 'primary button' %><br><br>

<table border="2" class="table1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Menge</th>
      <th>Einheit</th>
      <th>Eiweiß</th>
      <th>Fett</th>
      <th>Kohlenhydrate</th>
      <th>Kalorien</th>
      <th colspan="4" style="text-align:center">Optionen</th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.menge %></td>
        <td><%= food.einheit %></td>
        <td><%= food.eiweiß %></td>
        <td><%= food.fett %></td>
        <td><%= food.kohlenhydrate %></td>
        <td><%= food.kalorien %></td>
        <td><%= link_to 'Zum Tagebuch hinzufügen', new_food_fooddiary_path(food.id), class: 'success2 button' %></td>
        <td><%= link_to 'Bearbeiten', edit_food_path(food.id), class: 'warning button' %></td>
        <% if current_user_admin? %>
          <td><%= link_to 'Löschen', food_path(food.id), class: 'alert button', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


  <div id="comment_new"></div>

    <%= link_to raw("Link"), new_food_path, title: "Neuen Kommentar hinzufügen.", remote: true %>

    </div>