<h1>Sports</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Einheit</th>
      <th>Kalorien</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @sports.each do |sport| %>
      <tr>
        <td><%= sport.name %></td>
        <td><%= sport.einheit %></td>
        <td><%= sport.kalorien %></td>
        <td><%= link_to 'Tagebuch', sport_sportdiaries_path(sport.id) %></td>
        <td><%= link_to 'Edit', edit_sport_path(sport.id) %></td>
        <td><%= link_to 'Destroy', sport_path(sport.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Aktivität', new_sport_path %>
