  <div class="right2">
  <%= image_tag("sport.jpg", size: "500") %>
  </div>

<div style="width:68%; height: 728px;">
<h1>Sport-Tabelle</h1>

<table border="2">
  <thead>
    <tr>
      <th>Name</th>
      <th>Einheit</th>
      <th>Kalorien</th>
      <th colspan="4" style="text-align:center; width:35%">Optionen</th>
    </tr>
  </thead>

  <tbody>
    <% @sports.each do |sport| %>
      <tr>
        <td><%= sport.name %></td>
        <td><%= sport.einheit %></td>
        <td><%= sport.kalorien %></td>
        <td><%= link_to 'Zum Tagebuch hinzufügen', new_sport_sportdiary_path(sport.id), class: 'success2 button' %></td>
        <td><%= link_to 'Bearbeiten', edit_sport_path(sport.id), class: 'warning button' %></td>
        <% if current_user_admin? %>
          <td><%= link_to 'Löschen', sport_path(sport.id), class: 'alert button', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Übung hinzufügen', new_sport_path, class: 'primary button' %>

</div>