<center>
<h1>Community</h1>
    <div id="chat_new"><%= link_to raw("Kommentar hinzufügen"), new_chat_path, class: 'primary button', remote: true %></div>

    <% arychat = Chat.all.collect { |a| a.name } %>

  <% if arychat.count > 8 %>

    <div class="apple_pagination">
    <%= will_paginate @chats, :previous_label => 'Zurück ', :next_label => ' Vor', :container => false  %>
    </div>

  <% end %>

    <% @chats.each do |chat| %>
      <div class="rund">
      <br>
      <table><tr><td style="width:15%"><b>Erstellt am</b>:</td><td style="width:45%"> <%= chat.created_at.to_time %></td>
      <td style="width:10%"><b>Name:</b></td><td style="width:30%"> <%= chat.name %></td></tr></table>
      
      <table><tr><td style="width:20%"><b>Nachricht</b>:</td><td> <%= chat.text %></td></tr></table>
      <%= link_to 'Text bearbeiten', edit_chat_path(chat), class: 'warning button' %>
        <%= link_to 'Text löschen', chat, class: 'alert button', size: '10px', method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    <% end %>

      </center>


