<h1>Login</h1>

		<%= form_tag(session_path) do %>
			<fieldset>
				<div class="row">
				
					<div class="medium-2 columns">
						<%= label_tag :email %>
					</div>
					<div class="medium-10 columns">
						<div style="width:40%">
							<%= email_field_tag :email, params[:email], autofocus: true %> 
						</div>
					</div>
				</div>

				<div class="row">
				
					<div class="medium-2 columns">
						<%= label_tag :passwort %>
					</div>
					<div class="medium-10 columns">
						<div style="width:40%">
							<%= password_field_tag :password, nil %> 
						</div>
					</div>
				</div>

				<div class="row">
				
					<div class="medium-2 columns">
				
					</div>
					<div class="medium-10 columns">
						<div style="width:40%">
							<%= submit_tag 'Login', class: 'primary button' %>
						</div>
					</div>
				</div>
			</fieldset>

		<% end %>