<div class="foods">
<h1>Lebensmittel-Tagebuch</h1>

<table border="2" style="width:80%">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Name</th>
      <th>Menge</th>
      <th>Eiweiß</th>
      <th>Fett</th>
      <th>Kohlenhydrate</th>
      <th>Kalorien</th>
      <th colspan="2" style="text-align:center; width:20%">Optionen</th>
    </tr>
  </thead>

  <tbody>
    <% @fooddiaries.each do |fooddiary| %>
      <tr>
        <td><%= fooddiary.datum %></td>
        <td><%= fooddiary.name %></td>
        <td><%= fooddiary.anzahl %></td>
        <td><%= (fooddiary.anzahl * fooddiary.eiweiß).round(2) %></td>
        <td><%= (fooddiary.anzahl * fooddiary.fett).round(2) %></td>
        <td><%= (fooddiary.anzahl * fooddiary.kohlenhydrate).round(2) %></td>
        <td><%= (fooddiary.anzahl * fooddiary.kalorien) %></td>
        <td><%= link_to 'Bearbeiten', edit_food_fooddiary_path(@food.id, fooddiary.id), class: 'warning button' %></td>
        <td><%= link_to 'Löschen', food_fooddiary_path(@food.id, fooddiary.id), class: 'alert button', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Zurück zur Übersicht", profiles_path, class: 'secondary button' %> 

</div>