<center>
<h1>Movies</h1>

<ul>
	<% @movies.each do |movie| %>
		<li>
			<%= movie.title %>,
			<%= movie.rating %>,	
			kostet: <%= movie.total_gross %>€
			Beschreibung: <%= movie.description %>
			Erscheinung: <%= movie.released_on %>	
			</li>
			<br>
	<% end %>
</ul>
</center>