<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Author-ID</th>
      <th>Author-Vorname</th>
      <th>Author-nachname</th>
      <th>Title</th>
      <th>Year</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.author_id %></td>
        <td><%= book.author.firstname %></td>
        <td><%= book.author.lastname %></td>
        <td><%= book.title %></td>
        <td><%= book.year %></td>
        <td><%= book.description %></td>
        <td><%= link_to 'Ausleihen', lending_path %>
        <td><%= link_to 'Show', author_book_path(@author.id, book.id) %></td>
        <td><%= link_to 'Edit', edit_author_book_path(@author.id, book.id) %></td>
        <td><%= link_to 'Destroy', author_book_path(@author.id, book.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_author_book_path %>
