<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="border">
      <div class="float">

    <div class="field"> 
    <%= f.label :Geschlecht %>
    <select name="user[gender]" id="gender">
    <option value="Männlich">Männlich</option>
    <option value="Weiblich">Weiblich</option>
    </select>
  </div>

  <div class="field">
    <%= f.label :Alter %>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :Startgewicht %>
    <%= f.number_field :start_weight %>
  </div>

    <div class="field">
    <%= f.label :Zielgewicht %>
    <%= f.number_field :dream_weight %>
  </div>

  <div class="field">
    <%= f.label :Größe %>
    <%= f.number_field :height %>
  </div>

  </div>

  <div class="field" style="width:25%">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field" style="width:25%">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field" style="width:25%">
    <%= f.label :passwort %>
    <%= f.password_field :password %>
  </div>

  <div class="field" style="width:25%">
    <%= f.label :passwort_erneut_eingeben %>
    <%= f.password_field :password_confirmation %>
  </div>

<% if current_user_admin? %>
  <div class="field">
    <%= f.label :Admin? %>
    <%= f.check_box :admin %>
  </div>
<% end %>

  <br>
  <div class="actions">
    <%= f.submit class: 'primary button' %>
    <%= link_to 'Zurück zur Startseite', root_path, class: 'secondary button' %>
  </div>

  </div>

<% end %>
