<h1>Benutzer</h1><br><br>

<table border="2" style="width:80%">
  <thead>
    <tr>
      <th>User-ID</th>
      <th>Registriert am</th>
      <th>Name</th>
      <th>Email</th>
      <th>Alter</th>
      <th>Start-Gewicht</th>
      <th>Ziel-Gewicht</th>
      <th>Größe</th>
      <th>Admin?</th>
      <th colspan="3" style="text-align:center; width:20%">Optionen</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.created_at %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.age %> Jahre</td>
        <td><%= user.start_weight %> Kg</td>
        <td><%= user.dream_weight %> Kg</td>
        <td><%= user.height %> cm</td>
        <% if user.admin == true %>
        <td><%= user.admin = "Ja" %></td>
        <% else %>
        <td><%= user.admin = "Nein" %></td>
        <% end %>
        <td><%= link_to 'Bearbeiten', edit_user_path(user.id), class: 'warning button' %></td>
        <td><%= link_to 'Löschen', user, class: 'alert button', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Neuen Benuter anlegen', new_user_path, class: 'primary button' %>
